@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
  font-family: 'Hind Siliguri', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
/* Hide Scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
